body {
  background-color:black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
/* 
 * {
  border: 1px solid red;
}  */

/* 
#result {
  height: 20px;
} */

h1 {
  color:grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.mainDiv {
  margin: 20px auto;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
  color: black;
}

label {
  margin-left: 10px;
}

input#principal {
  margin-left: 40px;
}

input {
  /* margin-left: px; */
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

select {
  margin-left: 70px;
  text-align: left;
  margin-bottom: 15px;
}

button {
  margin-left: 10px;
  background-color: rgb(232, 220, 220);
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 15px;
}
/* 
#textInput {
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: small;
  border: none;
} */

/* input#textInput::after {
  background-color: yellow;
  content: "%";
} */

input#result {
  width: 100px;
  border: 1px solid red;
}