body {
  background-color:black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1 {
  color:rgb(7, 35, 66);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

.mainDiv {
  margin: 20px auto;
  width: 300px;
  padding: 20px;
  background-color: rgb(221, 168, 63);
  border-radius: 25px;
  color: black;
}

label {
  margin-left: 10px;
}

input#principal {
  margin-left: 40px;
  margin-top: 20px;
}

input {
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

select {
  margin-left: 70px;
  text-align: left;
  margin-bottom: 15px;
}

button {
  margin-left: 10px;
  background-color: rgb(190, 174, 174);
  margin-bottom: 15px;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0.5px 0.5px 10px rgb(233, 37, 83);
}

span#result {
  font-size: smaller;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
  margin-top: 30px;
  font-size: small;
  font-family: cursive;
}